:root {
  --variable-collection-primary-color: rgba(191, 28, 28, 1);
  --variable-collection-secondary-color: rgba(25, 26, 35, 1);
  --variable-collection-background-color: rgba(217, 217, 217, 1);
  --variable-collection-color: rgba(255, 255, 255, 1);
  --variable-collection-whatsapp: rgba(37, 211, 102, 1);
}

/** -- Root -- */

h1 {
 font-family: "Space Grotesk", Helvetica;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
}

h2 {
  font-family: "Space Grotesk", Helvetica;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

h3 {
  font-family: "Space Grotesk", Helvetica;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

h4 {
  font-family: "Space Grotesk", Helvetica;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

textarea {
  resize: none;
}

/* -- Navbar -- */
#logo-social {
  margin-left: 0.5rem;
  width: 30px;
  height: 30px;
}

#brand-logo {
  width: 200px;
  height: 50px;
}

.logo-social-small-screen {
  display: none;
}


a {
  text-decoration: none;
}


/* -- Chat on whatsapp logo -- */
#whatsapp img {
  width: 40px;
  height: 40px;
}

#whatsapp .wtsapp {
  position: fixed;
  display: block;
  text-align: center;
  bottom: 200px;
  right: 50px;
  width: 50px;
  height: 50px;
}


/* --  Hero Section  --*/
.hero {
  background-image: url(../assets/Hero-background-image.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 350px;
}

.hero h1 {
  color: var(--variable-collection-background-color);
  text-shadow:
   -1.5px -1.5px 0 #000,  
    1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000,
     1.5px 1.5px 0 #000;
  font-family: "../fonts/Poppins-Medium.ttf"
}

.hero h3 {
  color: var(--variable-collection-background-color);
  text-shadow:
     -2px -2px 0 #000, 
     2px -2px 0 #000, 
     -2px 2px 0 #000,
     2px 2px 0 #000;
  font-family: "../fonts/Poppins-Medium.ttf"
}

@supports (-webkit-text-stroke: 3px black){
  .hero h1{
    -webkit-text-stroke: 3px black;
    paint-order: stroke fill;
  }
   
  .hero h3{
    -webkit-text-stroke: 4px black;
    paint-order: stroke fill;
  }

}


.hero a {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.hero button {
  font-family: "Space Grotesk", Helvetica;
  font-weight: 500;
  font-size: 20px;
  color: var(--variable-collection-background-color);
  background-color: var(--variable-collection-secondary-color);
  height: 50px;
  width: 295px;
  border: 0cm;
  border-radius: 15px;
}

/* -- Our services Section -- */

.our-services {
  padding: 25px 0 25px 0;
  background-color: #870b11;
}

.our-services h1 {
  color: var(--variable-collection-background-color);
  text-align: center;
}

.our-services h3 {
  color: var(--variable-collection-background-color);
}

.our-services img {
  display: block;
  margin: auto;

}


/* -- About us Section -- */
.about-us h1 {
  padding: 25px 0 15px 0;
  background-color: #1a1a1a;
  color: var(--variable-collection-background-color);
}

.about-us h3 {
  width: 400px;

}

.content-about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: keep-all;
}

.about-us-row {
  padding-bottom: 15px;
}

#about-us-img {
  display: flex;
  justify-content: center;
  height: 400px;
}

/* -- Form contact -- */
.contact-form {
  margin-top: 15px;
}

.form-item {
  margin-bottom: 15px;
}

.button-consulta {
  max-width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.button-consulta button {
  margin-top: 10px;
  font-family: "Space Grotesk", Helvetica;
  font-weight: 500;
  font-size: 20px;
  color: var(--variable-collection-background-color);
  background-color: var(--variable-collection-secondary-color);
  height: 50px;
  width: 295px;
  border: 0cm;
  border-radius: 15px;
}

.contact-information h2 {
  text-align: start;
  font-weight: 600;
}

.contact-information h3 {
  text-align: start;
}

#logo-social-form {
  margin-right: 0.1rem;
  width: 40px;
  height: 40px;
}

/* -- Footer -- */
.footer-information {
  margin-top: 25px;
}

/* -- Media 1440 -- */
@media (max-width: 1440px) {
  .hero {
    padding-top: 250px;
  }
}


/* -- Media 991 -- */
@media (max-width: 991px) {

  .hero {
    padding-top: 150px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  #whatsapp .wtsapp {
    display: none;
  }

  #navbarTogglerIcon {
    margin-right: 2rem;
  }

  #narbarNav {
    margin-right: 2rem;
  }
}

/* -- Media 578px -- */
@media (max-width: 578px) {

  .logo-social-small-screen {
    display: initial;
  }

  .logo-social-small-screen-navbar {
    display: none;
  }

  .hero {
    background-image: url(../assets/Hero-background-image-2.png);
    padding-top: 550px;
  }

  .button-consulta button {
    width: 150px;
    height: 50px;
    font-size: 16px;
  }

  .hero button {
    font-size: 16px;
    width: 180px;
    height: 40px;
  }

  #navbarTogglerIcon {
    margin-right: 0rem;
  }

  #narbarNav {
    margin-right: 0rem;
  }

  h2 {
    font-size: 20px;
  }

  .hero-description-desktop {
    display: none;
  }

  h3 {
    font-size: 16px;
  }

  /* -- Media 450px --*/
  @media(max-width: 450px) {
    .hero {
      padding-top: 450px;
    }
  }

  /* -- Media 378px --*/
  @media(max-width: 375px) {
    .hero {
      padding-top: 350px;
    }
  }

}